<div class="card">
    <div class="card-header">
      <span [appState]="item.state">{{ item.state }}</span>
    </div>
    <div class="card-body">
      <h5 class="card-title">Nom: {{ item.name }}</h5>
      <p class="card-text">ref: {{ item.reference }}</p>
      <button class="btn btn-primary" (click)="changerEtat(state.LIVREE)" *ngIf="state.ENCOURS === item.state">{{ state.LIVREE }}</button>
      <button class="btn btn-primary" (click)="changerEtat(state.ENCOURS)" *ngIf="state.ALIVRER === item.state">{{ state.ENCOURS }}</button>
    </div>
  </div>
